.content{
  max-width: 1152px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.button{
  padding: 10px 20px;
  border: none;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 6px;
}