.clients{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.clients p{
  margin-top: 8px;
  text-align: center;
}
.clients-logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}
