.unlock {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 200px;
}

.unlock-content h2 {
  max-width: 25ch;
  margin-bottom: 16px;
}
.unlock-content p {
  max-width: 70ch;
  margin-bottom: 32px;
}
@media (max-width: 1000px) {
  .unlock img {
    width: 350px;
  }
}
@media (max-width: 800px) {
  .unlock img {
    grid-row: 1;
    width: 300px;
  }
  .unlock {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
